
.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
}

/*OUR STORY*/

.our-story {
  width: 360px;
  margin: auto;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = 360px + 0px + 0px + margin: auto, so (7.5px + 7.5px) 
  */
}

.line {
  margin: 0rem auto 0rem auto;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  color: var(--red-color);
  color: black;
}

.line--red-color {
  color: var(--red-color);
}

.line--blue-color {
  color: var(--blue-color);
}

.line--short-size {
  width: 40%;
}

.line--long-size {
  width: 80%;
}

.our-story__description {
  color: var(--light-white-color);
  background-color: var(--red-color);
  padding: 1.2rem;
  font-size: 14px;
  line-height: 1.3rem;
}

.our-story__description-1--margin-bottom {
  margin-bottom: 1rem;
}

.rounded-corners-version-1 {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
}

.rounded-corners-version-2 {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1rem;
}

.our-story__logo {
  width: 110px;
  display: block;
  margin-inline: auto;
}

.our-story__logo--animation {
  animation: rotation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*Our Values*/
.ourValues {
  width: 360px;
  margin: auto;
  margin-bottom: 4rem;
}

.ourValues__container {
  color: var(--light-white-color);
  background-color: var(--blue-color);
  padding: 1.2rem;
  font-size: 14px;
  line-height: 1.3rem;

  margin-bottom: 1rem;
}

.ourValues__threePrinciplesContainer {
  display: none;
}

/*MEET OUR TEAM*/

.meet-our-team__title--large-size {
  font-size: 30px;
}

.meet-our-team__description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.meet-our-team-red-color {
  color: var(--red-color);
}

.team-member {
  width: min(95%, 400px);
  margin: 0rem auto 0rem auto;

  /*
  Parent Div's Width = Parent Div's Width + Padding + Border + Margin
  375px = 356.25px + 0px + 0px + margin: 0rem auto 0rem auto, so (9.375px + 9.375px) 
  */

  display: flex;
  flex-direction: row;

  /*Spacing Between .team-member*/
  margin-bottom: 2rem;
}

.team-member__image {
  width: 100px;
  display: block;

  border-radius: 40px;

}

.team-member__description-container {
  width: auto;
  padding: 0.3rem 0rem 0.5rem 1.5rem;
}

.team-member__name {
  margin-bottom: 1rem;
}

.team-member--font-size-large {
  font-size: 20px;
}

.team-member--font-size-small {
  font-size: 13px;
}



@media screen and (min-width: 768px) {

  .title {
    font-size: 50px;
  }

  .our-story {
    width: 500px;
    margin: auto;
  }

  .our-story__description {
    padding: 1.8rem; 
    font-size: 17px;
    line-height: 1.6rem;
  }

  .ourValues {
    width: 500px;
    margin: auto;
  }

  .ourValues__paragraph {
    padding: 1.8rem;
    font-size: 17px;
    line-height: 1.8rem;
  }

  /*Meet Our Team Goes From One Column to a Grid with Two Columns*/
  .meet-our-team--grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .team-member__image {
    width: 105px;
  }

  .team-member--font-size-large {
    font-size: 23px;
  }

  .team-member--font-size-small {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {

  .our-story {
    width: 1000px;
    margin: auto;
  } 

  .our-story__description {
    width: 500px;
  }

  .ourStoryBottomContainer {
    display: flex;
    flex-direction: row;
  }

  .our-story__description-1--margin-left-auto {
      margin-left: auto;
  }

  .our-story__logo-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ourValues {
    width: 1000px;
    margin: auto;
  }

  .ourValues__container {
    width: 700px;
  }

  .ourValues__container--margin-left-auto {
    margin-left: auto
  }
}

@media screen and (min-width: 1500px) {

  .meet-our-team--grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 1rem;
  }

  .our-story {
    width: 1500px;
  }

  .our-story__description {
    width: 800px;
    font-size: 25px;
    line-height: 2.5rem;
  }

  .ourValues__paragraph {
    font-size: 25px;
    line-height: 2rem;
  }

  .ourValues__list {
    font-size: 20px;
  }

  .team-member {
    width: 450px;
  }

  .team-member--font-size-large {
    font-size: 30px;
  }

  .team-member--font-size-small {
    font-size: 18px;
  }

  .team-member__image {
    width: 150px;
  }

  .our-story__logo {
    width: 150px;
  }
}

@media screen and (min-width: 1900px) {
  .team-member {
    width: 500px;
  }

  .team-member--font-size-large {
    font-size: 35px;
  }

  .team-member--font-size-small {
    font-size: 20px;
  }

  .our-story__logo {
    width: 200px;
  }
}

@media screen and (min-width: 2500px) {


  .title {
    font-size: 70px;
  }

  .our-story {
    width: 1500px;
    margin: auto;
  } 

  .our-story__description {
    width: 800px;
    font-size: 35px;
    line-height: 3rem;
  }

  .our-story__logo {
    width: 250px;
  }

  .ourValues {
    width: 1500px;
    margin: auto;
  }

  .ourValues__container {
    width: 800px;
  }

  .ourValues__paragraph {
    font-size: 35px;
    line-height: 3rem;
  }

  .ourValues__list {
    font-size: 30px;
    line-height: 2rem;
  }

  
  
  .team-member {
    width: 700px;
  }

  .team-member--font-size-large {
    font-size: 40px;
  }

  .team-member--font-size-small {
    font-size: 25px;
  }
}



/*
Website looks good from 375px to 1500px
*/

