
.title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

/*OUR STORY*/

.our-story {
  width: 360px;
  margin: auto;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = 360px + 0px + 0px + margin: auto, so (7.5px + 7.5px) 
  */
}

.line {
  margin: 0rem auto 0rem auto;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  color: var(--red-color);
  color: black;
}

.line--red-color {
  color: var(--red-color);
}

.line--blue-color {
  color: var(--blue-color);
}

.line--short-size {
  width: 40%;
}

.line--long-size {
  width: 80%;
}

.our-story__description {
  color: var(--light-white-color);
  background-color: var(--red-color);
  padding: 1.2rem;
  font-size: 14px;
  line-height: 1.3rem;

  margin-bottom: 1rem;
}

.rounded-corners-version-1 {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
}

.rounded-corners-version-2 {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1rem;
}

.our-story__logo-container {
  text-align: center;
}

.our-story__logo {
  width: 110px;
}

.our-story__logo--animation {
  animation: rotation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*Our Values*/
.ourValues {
  width: 360px;
  margin: auto;
  margin-bottom: 4rem;
}

.ourValues__container {
  color: var(--light-white-color);
  background-color: var(--blue-color);
  padding: 1.2rem;
  font-size: 14px;
  line-height: 1.3rem;

  margin-bottom: 1rem;
}

.ourValues__threePrinciplesContainer {
  display: none;
}

/*MEET OUR TEAM*/

.meet-our-team__title--large-size {
  font-size: 30px;
}

.meet-our-team__description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.meet-our-team-red-color {
  color: var(--red-color);
}

.team-member {
  width: min(95%, 400px);
  margin: 0rem auto 0rem auto;

  /*
  Parent Div's Width = Parent Div's Width + Padding + Border + Margin
  375px = 356.25px + 0px + 0px + margin: 0rem auto 0rem auto, so (9.375px + 9.375px) 
  */

  display: flex;
  flex-direction: row;

  /*Spacing Between .team-member*/
  margin-bottom: 2rem;
}

.team-member__image {
  width: 100px;
  display: block;

  border-radius: 40px;

}

.team-member__description-container {
  width: auto;
  padding: 0.3rem 0rem 0.5rem 1.5rem;
}

.team-member__name {
  margin-bottom: 1rem;
}

.team-member--font-size-large {
  font-size: 20px;
}

.team-member--font-size-small {
  font-size: 13px;
}



@media screen and (min-width: 768px) {

  .title {
    font-size: 50px;
  }
  .meet-our-team--grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .team-member__image {
    width: 105px;
  }

  .team-member--font-size-large {
    font-size: 20px;
  }

  .team-member--font-size-small {
    font-size: 13px;
  }


  .ourValues--flexbox {
    display: flex;
    flex-direction: row;
  }

  .ourValues {
    width: 700px;
    margin: auto;
    margin-bottom: 4rem;
  }

  .ourValues__threePrinciplesContainer {
    width: 160px;
    padding-right: 60px;
    display: block;
  }

  .ourValues__principle {
    font-size: 20px;
    margin-bottom: 2rem;

    background-color: black;
    color: white;
    padding: 1rem 0.6rem 1rem 0.6rem;
    width: auto;
    text-align: center;
    border-radius: 10px;
  }
  .ourValues__blueContainers {
    width: 500px;
  }

}

@media screen and (min-width: 1500px) {
  .meet-our-team--grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }

  .team-member__image {
    width: 130px;
  }

  .ourValues {
    width: 1000px;
    margin: auto;
    margin-bottom: 4rem;
  }

  .ourValues__blueContainers {
    width: 600px;
  }

  .ourValues__paragraph {
    font-size: 20px;
    line-height: 2rem;
  }

  .ourValues__threePrinciplesContainer {
    width: 400px;
  }
  
  .ourValues__principle {
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 25px;
  }

  .our-story {
    width: 1000px;
    margin: auto;
    /*
    Parent Div's Width = Child Div's Width + Padding + Border + Margin
    375px = 360px + 0px + 0px + margin: auto, so (7.5px + 7.5px) 
    */
  }

  .our-story__red-container {
    width: 500px;
    margin-right: 5rem;
  }

  .our-story__description {
    font-size: 20px;
    line-height: 2rem;
  }

  .our-story__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .our-story__logo {
    width: 150px;
  }

  .our-storyflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}